* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title.active {
    background-color: green;
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    color: #fff;
}

.shape_box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin-top: 80px;
    margin-left: 250px;
}

.shape {
    width: 170px;
    height: 170px;
    background-color: green;
    cursor: pointer;
}

.all {
    display: flex;
    align-items: center;
    gap: 30px;
}

.tool_box {
    display: flex;
    gap: 30px;
    margin-top: 90px;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
}

.color {
    width: 50px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
}

.color.red {
    background-color: red;
}
.color.green {
    background-color: green;
}
.color.blue {
    background-color: blue;
}
.color.bisque {
    background-color: bisque;
}
.color.cyan {
    background-color: cyan;
}
.color.chocolate {
    background-color: chocolate;
}

.shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
}

.btn_shape {
    width: 50px;
    height: 50px;
    background-color: #000;
    cursor: pointer;
}

.hexagon {
  -webkit-clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );}

  .circle {
    clip-path: ellipse(50% 50% at 50% 50%);
  }

  .triangle {
    -webkit-clip-path: polygon(
    50% 0%,
    0% 100%,
    100% 100%
  );
  clip-path: polygon(
    50% 0%,
    0% 100%,
    100% 100%
  );
  }

  .pentagon {
    -webkit-clip-path: polygon(
    50% 0%,
    100% 38%,
    82% 100%,
    18% 100%,
    0% 38%
  );
  clip-path: polygon(
    50% 0%,
    100% 38%,
    82% 100%,
    18% 100%,
    0% 38%
  );
  }

  .rhombus {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 50%,
    50% 100%,
    0% 50%
  );
  clip-path: polygon(
    50% 0%,
    100% 50%,
    50% 100%,
    0% 50%
  );
  }